/*#lose {
  display: none;
}*/

#hungry-bear-form {
  height: 100vh;
  width: 100vw;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/820C3ABDED.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#blueberries {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/CNV1RJ4VYX.jpg");
  background-size: 240px;
  background-position: center;
  border-radius: 100%;
}

#fish {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/S4LJZONO2I.jpg");
  background-size: 150px;
  background-position: center;
  border-radius: 100%;
}

#leaves {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/EJ1ODJ62XI.jpg");
  background-position: top;
  background-size: 200px;
  border-radius: 100%;
}

#honey {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/DF5CJ6AAE5.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}
#raccoon {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/C9TJWE0YBF.jpg");
  background-position: center;
  background-size: 200px;
  border-radius: 100%;
}
#owl {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/97Z2NAXQQW.jpg");
  background-position: left;
  background-size: 150px;
  border-radius: 100%;
}
#mountainLion {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/0VRF2XRNUR.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

#deer {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image:
  url("https://cdn.stocksnap.io/img-thumbs/960w/6CLLXGO5DB.jpg");
  background-position: center;
  background-size: 250px;
  border-radius: 100%;
}

#flatTire {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image:
  url("https://cdn.stocksnap.io/img-thumbs/960w/JBERI47IX4.jpg");
  background-position: left;
  background-size: 200px;
  border-radius: 100%;
}

#human {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/1KY96R6Q0T.jpg");
  background-position: left;
  background-size: 300px;
  border-radius: 100%;
}

#chocolateD {
  height: 100px;
  width: 100px;
  background-color: transparent;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/LT4HITPFM7.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 100%;
}

#hunger-level {
  height: 200px;
  width: 200px;
  top: 10px;
  background-image: linear-gradient(red, orange);
  border-color: white;
  border-width: 2px;
  border-radius: 7px; 
}
