/*#lose {
  display: none;
}*/
*, *:before, *:after {
  box-sizing: border-box; 
}


#hungry-bear-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgba(50, 122, 77, 0.5);
}

#hungry-bear {
  width: 100%;
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/820C3ABDED.jpg");
  background-repeat: no-repeat;
  /*display: flex;
  flex-direction: row;*/
}

#droppable {
  position: fixed;
  top: 230px;
  left: 440px;
  width: 14em;
  height: 17em;
  padding: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #327a4d;
  text-align: center;
  font-weight: bold;
  background-color: rgba(50, 122, 77, 0.5);
  border-radius: 45%;
  color: white;
}

.the-draggables {

}

.draggable {
  align-self: center;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  border: 3px solid white;
  background-position: center;
  margin: 10px;
}

#blueberries {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/CNV1RJ4VYX.jpg");
  background-size: 240px;
}

#fish {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/S4LJZONO2I.jpg");
  background-size: 150px;
}

#leaves {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/EJ1ODJ62XI.jpg");
  background-position: top;
  background-size: 200px;
}

#honey {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/DF5CJ6AAE5.jpg");
  background-position: center;
  background-size: cover;
}
#raccoon {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/C9TJWE0YBF.jpg");
  background-position: center;
  background-size: 200px;
}
#owl {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/97Z2NAXQQW.jpg");
  background-position: left;
  background-size: 150px;
}
#mountainLion {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/0VRF2XRNUR.jpg");
  background-position: center;
  background-size: cover;
}

#deer {
  background-image:
  url("https://cdn.stocksnap.io/img-thumbs/960w/6CLLXGO5DB.jpg");
  background-position: center;
  background-size: 250px;
}

#flatTire {
  background-image:
  url("https://cdn.stocksnap.io/img-thumbs/960w/JBERI47IX4.jpg");
  background-position: left;
  background-size: 200px;
}

#human {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/1KY96R6Q0T.jpg");
  background-position: left;
  background-size: 300px;
}

#chocolateD {
  background-image: url("https://cdn.stocksnap.io/img-thumbs/960w/LT4HITPFM7.jpg");
  background-position: center;
  background-size: cover;
}

#hunger-level {
  height: 75px;
  width: 275px;
  top: 10px;
  background-image: linear-gradient(#7a3249, transparent);
  border-color: white;
  border-width: 2px;
  border-radius: 3px;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin: 20px;
}
